In [ ]:
import pandas as pd
import numpy as np
#technologies = {'/content/sync_steering_new_data.csv'}
df = pd.read_csv('/content/sync_1.csv')
print(df)

                         file   # angle
0     1479425834048269765.png  0.019199
1     1479425834098028922.png  0.019199
2     1479425834148054323.png  0.019199
3     1479425834197961340.png  0.020760
4     1479425834247873361.png  0.020944
...                       ...       ...
5077  1479426044434483328.png  0.017500
5078  1479426044484468412.png  0.017500
5079  1479426044884755487.png  0.017500
5080  1479426045284760473.png  0.017500
5081  1479426045584891182.png  0.017500

[5082 rows x 2 columns]

In [ ]:

# Below are quick example
# keep first duplicate row
#df2 = df.drop_duplicates()

# Using DataFrame.drop_duplicates() to keep first duplicate row
#df2 = df.drop_duplicates(keep='first')

# keep last duplicate row
df2 = df.drop_duplicates( keep='last')

# Remove all duplicate rows 
#df2 = df.drop_duplicates(keep=False)

# Delete duplicate rows based on specific columns 
df2 = df.drop_duplicates(subset=["file"], keep='last')

# Drop duplicate rows in place
#df.drop_duplicates(inplace=True)

# Using DataFrame.apply() and lambda function 
#df2 = df.apply(lambda x: x.astype(str).str.lower()).drop_duplicates(subset=['file', 'Fee'], keep='first')

In [ ]:
print(df2)

                         file   # angle
0     1479425834048269765.png  0.019199
1     1479425834098028922.png  0.019199
4     1479425834247873361.png  0.020944
5     1479425834297952706.png  0.020944
6     1479425834347912542.png  0.019623
...                       ...       ...
5077  1479426044434483328.png  0.017500
5078  1479426044484468412.png  0.017500
5079  1479426044884755487.png  0.017500
5080  1479426045284760473.png  0.017500
5081  1479426045584891182.png  0.017500

[4235 rows x 2 columns]

In [ ]:
df2.to_csv("/content/sync.csv")

In [ ]:
df3 = pd.read_csv('/content/sync.csv')

In [ ]:
df3

     Unnamed: 0             file  label
0             0  frame_00001.jpg      0
1             1  frame_00002.jpg      0
2             2  frame_00003.jpg      0
3             3  frame_00004.jpg      0
4             4  frame_00005.jpg      0
..          ...              ...    ...
248         298  frame_00225.jpg      0
249         299  frame_00240.jpg      0
250         300  frame_00248.jpg      0
251         301  frame_00254.jpg      0
252         302  frame_00261.jpg      0

[253 rows x 3 columns]

In [ ]:
df4 = df3.drop(df3.columns[[0]], axis=1)

In [ ]:
print(df4)

                file  label
0    frame_00001.jpg      0
1    frame_00002.jpg      0
2    frame_00003.jpg      0
3    frame_00004.jpg      0
4    frame_00005.jpg      0
..               ...    ...
248  frame_00225.jpg      0
249  frame_00240.jpg      0
250  frame_00248.jpg      0
251  frame_00254.jpg      0
252  frame_00261.jpg      0

[253 rows x 2 columns]

In [ ]:
df5=df4.sort_values(by=['file'])

In [ ]:
df5

                file  label
0    frame_00001.jpg      0
1    frame_00002.jpg      0
2    frame_00003.jpg      0
3    frame_00004.jpg      0
4    frame_00005.jpg      0
..               ...    ...
199  frame_00259.jpg      1
200  frame_00260.jpg      1
252  frame_00261.jpg      0
201  frame_00262.jpg      1
202  frame_00263.jpg      1

[253 rows x 2 columns]

In [ ]:
df5.to_csv("/content/sync_1.csv")